.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown select {
    width: 200px;
    height: 35px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align-last: center;
    text-transform: capitalize;    
    appearance: none;
    background-color: #fff;
     cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;


}

.dropdown select:focus {
    outline: none;
    border-color: #007F4E;
    box-shadow: 0 0 5px #007F4E;
    background-color: white;

}

.dropdown select:hover {
    border-color: #007F4E;
    background-color: white;

}
.dropdown::after {
    content: '\25BC'; /* Unicode ok karakteri */
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-51%);
    font-size: 18px;
    color: #e70f0f;
    
  }

