.introduce{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#cfbb54,#b4d10d);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.introduce-container{
    width: 100%;
    max-width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
}
.introduce-container img{
    width:300px ;
    margin-bottom: 1rem; 
}
.introduce h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.introduce p {
    font-size: 18px;
    color: #555; 
    margin-bottom: 1rem; 
  }
.introduce-btn{
    width: 350px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #d80e0e;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;

}
.introduce-btn:hover {
    background-color: #b80000;
}